@use '../../components/partials/mixins' as *;
@use '../../components/partials/variables' as *;

.App {
    font-family: website;
    overflow-x: hidden;
    
}
.backgroundWrapper {
    width: 100vw;
    position: relative;
    padding: 0 1rem;
    box-sizing: border-box;
    &:nth-child(2n) {
        background-color: rgb(255, 241, 214);
       padding-bottom: 5px;
    }

}
.Page {
    padding: .5rem 0rem;
    min-height: 100vh;
    max-width: 900px;
    @include desktop {
        max-width: 1280px;
    }

    &__header {
        @include tablet {
            margin: 0 1rem;
            max-width: 1280px;
        }
    }
}

.LandingPage {
    &__header {
        text-align: center;
        width: 100vw;
        &-title{
            font-size: 2.5rem;
            font-family: logo;
            margin-top: 8px;
        }
        &-list {
            display: flex;
            justify-content: center;
            padding: 0;

            &--item {
                list-style: none;
                width: fit-content;
                min-width: 84px;
                text-align: center;
                overflow-x: scroll;
                border-right: 1px solid orange;
                &:last-child{
                    border: none;
                }

                &:hover {
                    @include text-hover;
                }

                @include tablet {
                    font-size: 1.1rem;
                }
            }
        }
    }

    &__section {
        margin: 0;
        margin-bottom: 2.5rem;
        display: flex;
        flex-direction: column;

        @include tablet {
            margin: 0 1rem;
            margin-bottom: 3.5rem;
        }

        &-image,
        &-imageLarge {
            max-height: 350px;
            border-radius: 5px;
            max-width: 97vw;
        }

        &-imageLarge {
            height: 350px;
            width: auto;
            max-width: none;

            @include tablet {
                height: 40vh;
            }
        }

        &-images {
            display: flex;
            animation: animate 100s linear infinite;
            align-items: center;
        
            &:hover {
                animation-play-state: paused;
            }

            @include tablet {
                display: none;
            }
            &Large {
                @include mobile {
                    display: none;
                }
                width: fit-content;
                display: flex;
                overflow-x: scroll;
                margin: 0 auto;
                @include desktop{
                    max-width: 1280px;
                }
               
            }

        }

        &-imageWrapper,
        &-imageWrapperLarge {
            margin-right: 3rem;
            height: fit-content;
        }

        &-imagesMarquee {
            width: calc(100% + 2rem);
            position: relative;
            right: 1rem;
            display: flex;
            align-items: center;
            @include tablet {
                overflow: scroll;
            }
        }

        &-description {
            @include tablet {
                margin: 1.5rem 0;
                margin-left: 1rem;
                max-width: 700px;
            }

            @include mobile {
                font-size: .88rem;
            }
        }

        &-text {
            width: 100%;

            @include tablet {
                display: flex;
                align-items: center;
                margin-bottom: 1.5rem;
                justify-content: center;
            }

        }

        &-header {
            text-decoration: underline;

            @include tablet {
                border-right: 1px solid orange;
                padding-right: 1rem;
                margin: 1.5rem 0;
                min-width: fit-content;
                text-decoration: none;
            }

        }

        &-button {
            @include button-styles;
            margin: 0;
            margin-top: 1.5rem;
            width: fit-content;
            align-self: center;

            @include tablet {
                font-size: 1rem;
            }
        }
    }

}

@keyframes animate {
    100% {
        transform: translate(-500%, 0);
    }
}

label {
    display: block;
    max-width: 250px;

    @include mobile {
        font-size: .85rem;
    }
}