@use '../partials/mixins' as *;
@use '../partials/variables' as *;

.StandardOrder {
    &__card {
        @include card_styles
    }
}

.CustomOrder {
    &Header {
        border-bottom: 1px solid orange;
        margin-bottom: 1rem;

        &__description {
            @include mobile {
                font-size: .8rem;
                margin-top: 0
            }
        }

        &__selector {
            display: flex;

            &-item {
                margin-right: 2rem;
                @include tablet{
                    &:hover{
                        text-decoration: underline;
                        scale: 1.03;
                        transition: all 0.3s;
                    }
                }

                &--header {
                    margin-bottom: 0;
                }

                &--info {
                    font-size: .8rem;
                    margin-top: .3rem;
                    @include mobile {
                        font-size: .72rem;
                    }
                }
            }
        }
    }

    &Details {

        &__sizes,
        &__labeled,
        &__label {
            display: relative;
            @include alternate_background_color;
            position: relative;
            width: calc(100% + 1rem);
            right: 2rem;
            padding: .5rem .5rem;

            &-container {
                display: flex;
                width: 100%;
                overflow-x: scroll;
                align-items: center;
                box-shadow: 8px 0px 5px rgb(255, 241, 214) inset;

                @include desktop {
                    justify-content: center;
                }

            }

            &-wrapper {
                display: flex;
                // margin: 0 2rem 2rem 0;
                right: 2rem;
                padding: 1rem 2rem .5rem 2rem;
                align-items: center;
                flex-direction: column;
                width: fit-content;
                justify-content: flex-end;
              

                &:last-child {
                    border-right: none;
                    margin-right: 0;
                }

                @include tablet {
                    height: 400px;
                    padding: 1rem 3.5rem .5rem 3.5rem;
                }

            }

            &-header {
                font-size: 1.2rem;
            }

            &-image {
                max-width: 200px;
                @include mobile{
                    max-height: 250px;
                }
            }

            &-image--label {
                height: 300px;

                @include tablet {
                    height: 450px;
                }
            }

            &-image--wide {
                max-width: 240px;
                border-radius: 8px;
            }

            &-caption {
                font-size: .75rem;
                margin-left: 1rem;
            }
        }
    }

    &Footer {
        margin: 0;
        @include alternate_background_color;
        position: relative;
        width: 100%;
        right: 1rem;
        padding: 2.5rem 1rem 1rem 1rem;
        &__header{
            font-family: logo;
            font-size: 2rem;
            margin: .5rem 0;
        }
        &__conditions {
            &-header {
                text-decoration: underline;
                margin: .5rem 0;
            }

            &-list {
                &--item {
                    margin: .5rem 0;
                    font-size: .7rem;

                    &:hover {
                        transition: all ease-in-out .1s;
                        scale: 1.01;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    &Selection{
        &__order{
            display: flex;
            flex-wrap: wrap;
        }
    }
    &__card{
        @include card_styles;
        width: calc(100% - 2rem);
        max-width: 500px;
        &-quantity{
            display: flex;
            align-items: center;
            &--input{
                margin: .1rem 0 0 .4rem;
                height: 1rem;
                color: $default-text-color;
            }
            &--labelCheck{
                margin-top: .5rem;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        &-discount{
            font-size: 13px;
            font-style: italic;
        }
    }
}

form {
    display: block;
}