$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;
$default-text-color: rgb(90, 70, 33);

$themeRed: #a80000d3;
$themePurple: #52317ed3; 
$themeGreen: #49a086d3;
$themeBlue: #3220d4d3;
$themeGrey: #bbb2b2d3;
$themeSky: #31caecd3;
$darkModeAccent: rgba(167, 164, 164, 0.959);

@font-face {
    font-family: website;
    src: url(../../public/fonts/Lato-Light.ttf);
}
@font-face {
    font-family: logo;
    src: url(../../public/fonts/Arizonia-Regular.ttf);
}