@use '../partials/mixins' as*;
@use '../partials/variables' as*;

.OrderButton{
    position: fixed;
    bottom: 70px;
    right: 50px;
    @include button-styles;
    padding: .4rem;
    font-size: 1rem;
    z-index: 1;
    border: none;
    box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
    &:hover{
        scale: 1.07;
        transition: all .3s;
    }
}