@use '../partials/mixins' as *;
@use '../partials/variables' as *;

.App{
    margin: 1rem 1rem;
    padding: 1 .5rem 1rem .5rem;
    margin: 1rem auto;
   
    
}
#root{
    padding: 1 1rem 1rem 1rem;
}
.orderRequest{
    background-color: white;
    &_wrapper{
        margin: 1rem 0;
        display: flex;
        flex-direction: column;
    }
    &__label{
        margin: 8px 8px 8px 0px;
    }
    &_input{
        border: none;
        background-color: #f2f2f2;
        height: 2rem;
    }
    &__order{
        display: flex;
        justify-content: space-between;
        margin-bottom: .5rem;
        &-label{
            width: 30%;
        }
        &-number{
            background-color: #f2f2f2;
            width: 3rem;
            height: 2rem;
            border: 1px solid #f2f2f2;
        }
    }
    &__message{
        height: 150px;
        border: 1px solid #f2f2f2;
         background-color: #f2f2f2;
         font-family: Arial, Helvetica, sans-serif;
    }
    &__submit{
        height: 3rem;
        background-color: teal;
        color: white;
        border-radius: 6px;
        font-size: 1rem;
    }
    &__form{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 1rem;
        @include tablet{
            display: flex;
            align-items: flex-start;
            justify-items: center;
            width: 100%;
            flex-direction: row;
        }
    }
    &Wrapper{
        height: 100vh;
        width: 100vw;
        position: absolute;
        z-index: 7;
    }
}
.requestOrder{
    &__card{
        margin: 1rem 0;
        display: flex;
        flex-direction: column;
        border: .5px solid rgb(157, 153, 153);
        border-radius: 3px;
        padding: 0 .5rem 1em .5rem;
        box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
        width: 100%;
        max-width: 450px;
        @include tablet{
            margin: 1rem;
            width: 50%;
        }
        background-color: white;
    }
}
#contact{
    display: inlineblock;
}